pyrogram>=2.0.30
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
shortzy
datetime
pytz
aiohttp
openai
psutil==5.9.4
googletrans==3.1.0a0
dnspython==2.3.0
yt-dlp
wget
aiofiles
youtube_search
youtube-search-python==1.4.6
youtube_dl
ytthumb
telegraph
